.title {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}

.details {
  color: #09f;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.jobListingCard {
  display: flex; /* valor original */
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
    background: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    margin: 0;

    
}